Package: bouyguestelecom-smsapi
Version: 1.0.2-0
Section: base
Priority: optional
Architecture: amd64
Depends: bash, util-linux
Maintainer: CYOSP
Description: A Bash API for Bouygues Telecom unofficial SMS API
Homepage: http://www.cyosp.com
